<!DOCTYPE html>
<html>
<head>
  <title>RailsGulpRequires</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--<script data-main="assets/app" src="assets/lib/require.js"></script>-->
  <!--<script data-main="javascripts/application.min" src="assets/lib/require.js"></script>-->
  <script data-main="javascripts/app" src="assets/lib/require.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
